.card-deck {
  margin: 20px 30px;
}
.card {
  margin: 10px 0%;
  height: 100%;
  cursor: pointer;
}

.card-body {
  margin: 10px;
}
.category-filter {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.filter-btn {
  margin: 0 20px;
  box-shadow: none !important;
}
.list-wrapper{
  margin: 20px 0;
}