.product-details {
  margin: 50px;
}
.component-title {
  margin-top: 30px;
}
.product-title {
  margin: 10px 0 20px;
}
.product-details-wrapper {
  display: flex;
  margin: 0 30px;
  flex-direction: column;
}
.product-image {
  padding: 0 10px;
  max-width: 600px !important;
  max-height: 600px !important;
  margin: auto;
}
.card-img-top {
  width: 100%;
  height: 300px;
}
.product {
  display: flex;
  align-items: center;
  justify-content: center;
}
